.brandname{
  font-family: 'Leckerli One', cursive;
  font-weight: bolder;
  font-size: 2rem;
}
.signclass{
  text-align: center;
}
body{
  background-color: #EEEEEE;
}
h1:hover{
  color: #1C658C;

}
h1{
  font-family: 'Leckerli One', cursive;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 50px;
  padding: 10px;
  margin-left: 120px;
  color: #398AB9;
}
.row{
  background-color: #D8D2CB;
  border-radius: 30px;
}
.new{
  text-align: center;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.sign-image{
  width: 80%;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}
.download-btn{
  width: 150px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;

}
.Form{
  margin: 4% 5% 4%;
}
@media (max-width:1024px){
  .sign-image{
    width:100%;
  }
  h1{
    margin-left: 300px;
  }
}
